* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pagina {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;

    display: none !important;
}

.pagina.ativa {
    display: block !important;
}

.video-convite {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}


/* BOTÃO DA MÚSICA */

.botao-musica {
    position: fixed;

    right: 20px;
    bottom: 20px;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.85);

    font-size: 22px;

    z-index: 9999;
}


/* BOTÃO AVANÇAR */

.botao-avancar {
    position: absolute;

    left: 50%;
    bottom: -20%;

    width: 1550px;
    height: 900px;

    transform: translateX(-50%);

    background: transparent;
    border: none;

    z-index: 300;

    cursor: pointer;

}

.botao-local {
    position: absolute;
    width: 250px;
    height: 100px;
    left: 50%;
    bottom: 320px;
    transform: translateX(-50%);
    z-index: 10;
}

.botao-confirmacao {
    position: absolute;
    width: 250px;
    height: 100px;
    left: 50%;
    bottom: 200px;
    transform: translateX(-50%);
    z-index: 10;
}

.botao-presentes {
    position: absolute;
    width: 250px;
    height: 100px;
    left: 50%;
    bottom: 90px;
    transform: translateX(-50%);
    z-index: 10;
background: transparent;
    border: none;
cursor: pointer;
}